<div>
  <button mat-raised-button color="accent" *ngIf="!showCustomerForm" (click)="showCustomerForm = true">Add Customer</button>
</div>
<br />

<form [formGroup]="customerForm" *ngIf="showCustomerForm" (ngSubmit)="addCustomer()">
  <h3>
    New Customer Details
  </h3>
  <mat-form-field appearance="fill">
    <mat-label>First Name</mat-label>
    <input matInput formControlName="firstName">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Last Name</mat-label>
    <input matInput formControlName="lastName">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email">
  </mat-form-field>
  <button mat-button color="primary" type="submit" [disabled]="!customerForm.valid">Submit</button>
  <button mat-button color="warn" type="button" (click)="showCustomerForm = false">Cancel</button>
</form>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
    <th mat-header-cell *matHeaderCellDef>
      {{ col.label }}
    </th>
    <td class="w-20" mat-cell *matCellDef="let element">
      <div [ngSwitch]="col.type"
           *ngIf="!element.isEdit">
        <div class="btn-edit" *ngSwitchCase="'isEdit'">
          <button mat-button (click)="element.isEdit = !element.isEdit" [disabled]="showCustomerForm">
            Edit
          </button>
        </div>
        <span *ngSwitchCase="'date'">
          {{element[col.key] | date: 'short' }}
        </span>
        <span *ngSwitchDefault>
          {{  element[col.key]  }}
        </span>
      </div>
      <div [ngSwitch]="col.type" *ngIf="element.isEdit ">
        <div class="btn-edit" *ngSwitchCase="'isEdit'">
          <button mat-button (click)="editRow(element)">Done</button>
        </div>
        <mat-form-field *ngSwitchCase="'date'" appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="element[col.key]" disabled />
          <mat-datepicker-toggle matSuffix
                                 [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker disabled></mat-datepicker>
        </mat-form-field>
        <div *ngSwitchCase="'readonly'">
          {{element[col.key]}}
        </div>
        <mat-form-field *ngSwitchDefault>
          <input [type]="col.type" matInput [(ngModel)]="element[col.key]" />
        </mat-form-field>
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
