/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body { height: 100%; }
body { margin: 2px; font-family: Roboto, "Helvetica Neue", sans-serif; }
th.mat-header-cell, mat-cell, td.mat-footer-cell {
  padding: 20px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.mat-table {
  width: 100%;
  flex-wrap: nowrap;
}

.w-20{
    width: 20px;
}
.w-75 {
  width: 75px;
}

.highlight {
  animation: highlight 3s;
}

@keyframes highlight {
  0% {
    background: red
  }

  100% {
    background: none;
  }
}

.w-100 {
  width: 100px;
}

